* {
    margin: 0;
    box-sizing: border-box;
}


/* --------------------------- MOBILE VERSION ------------------------------ */
.page {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.cover {
    background-color: white;
    width: 50%;
    height: 20%;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 12px 15px rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.username{
    width: 90%;
    top: 100px;
    height: 22px;
    position:absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;

    text-transform: capitalize;

    color: #000000;
}

.password{
    width: 89%;
    height: 15px;
    position:absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px; 
    text-transform: capitalize;
    color: #000000;
}

input {
    border: 1px solid #9F9F9F;
    background: #fff;
    width: 90%;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

input:focus {
    outline-color: #287BCB;
}

.login-btn {
    width: 70%;
    border: 1px solid #9F9F9F;
    height: 45px;
    background: #287BCB;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.login-btn:hover { transform: scale(1.25);}






/* -------------------- TABLET OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 37em) {
    .page {
        font-size: 1em;
    }

    .cover {
        width: 60%;
        height: 70%;
    }
}

/* -------------------- DESKTOP OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 64em) {
    .page {
        font-size: 1.25em;
    }

    .cover {
        width: 25%;
        height: 65%;
    }
}